html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

p.attribution > a, *a, * > a {
  text-decoration: none;
}

footer {
  font-size: 1.25rem;
  font-weight: 300;
  /* position: fixed;
  top: 110%;
  left: 0;
  right: 0; */
  text-align: center;
}
footer > p {
  display: inline-block;
}